*{
    box-sizing: border-box;
}
.disclaimer{
    text-align: center;
}
.copy{
    color: gray;
    font-style: italic;
}
html, body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    border-top: 1px;

}
section{
    background-color: #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
}
header{
    background-color: yellow;
}
.articulo div{
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 15px;
    background-color: white;
    align-self: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}
.titulo{
    text-align: center;
    font-size: 24px;
}

.articulo p{
    font-size: 12px;
}
.articulo h3{
    display: none;
}
.articulo h4{
    font-size: 18px;
}
.articulo h5{
    font-size:16px;
}
#logo{
    height: 10vw;
    width: 15vw;
}
header h5{
    margin-left:2%;
    font-size:16px;
}
footer{
    background-color: lightgray;
    padding-top: 10px;
}

@media (min-width:769px){
    .articulo h3{
        display: block;
    }
    .articulo div{
        display: inline-block;
        height:30vw;
        width:30vw;
    }
    .titulo{
        text-align: left;
        margin-left:2%;
    }
    header h5{
        display: inline-block;
    }
}